.skiplinks,
#headerlogo,
#region-main-wrap,
#inst2,
.no-overflow,
#dock,
#inst3,
.f-login-info,
#inst10,
#sb-2,
.skip-block,
#yui_3_5_1_1_1570735401356_534,
.breadcrumb,
.navbar clearfix,
.tree_item branch canexpand
{
    visibility: hidden;
    height: 0px;
}

a{
    text-decoration: none
}

#hed
{

}

#inv,
.inv
{
    visibility: hidden;
    height: 0px;
    display: none;
}

#vis
{
    background-color: aqua;
    float: right;
    height: auto;
    width: auto;
    margin: 10px;
    padding: 5px;
    font-size: 24px;
    list-style-type: none;
    vertical-align: middle;
}

input {
    width: 80%;
  }

.inputField
{
    background-color: blue;;
    font-size: 12px;
    color: black;
    border-radius: 5px;
    overflow: hidden;
    align-content: center;
    font-weight: bold;
    padding: 1px 5px 1px 5px;
    vertical-align: middle;
}

._contentOfFolder
{

}