a
{
    text-decoration: none;
    color: black;
}

.split {
    height: 100%;
   
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    z-index: -5;
    left: 0;
    width: 300px;
    background-color: #111;
  }
  
  .right {
    z-index: -5;
    left:300px;  
    right: 0;
    background-color:#EEE;
  }

  .icon
  {
    src: "../icons/folder.png";
    height: 50px;
    width: 50px;
  }

  .my-fancy-container {
    border: 1px solid #ccc;
    border-radius: 6px;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    text-align: center;
  }
  
  .my-text {
  
    display: block;
    font-family: "Courier-new";
    width: 100px;
    height: 32px;
    overflow: hidden;
    overflow-y: hidden;
  }
  
  .my-icon {
      vertical-align: middle;
      font-size: 40px;
  }

  #TopicHeadLine
  {
    color: black;
    font-size: 20px;
    border: 2px solid #ccc;
    border-radius: 3px;
    margin:10px;
    padding: 2px;
    text-align: center;
    overflow: hidden;
    overflow-x: auto;
    height: 24px;
    overflow: hidden;
    font-weight: bold;
  }

  .button_left
  {
    float: left;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 3px;
    margin-right: 2px;
    margin-left: 5px;
    padding-left: 2px;
    padding-right: 2px;
    vertical-align: middle;
  }

  .button_right
  {
    float: right;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 3px;
    margin-left: 2px;
    margin-right: 5px;
    padding-left: 2px;
    padding-right: 2px;
    vertical-align: middle;
  }


/*For Context Menu*/
.container
{
  background: #f6f6f6;
  height: 100%;
}
.context-menu
{
  z-index: 10;
  width: auto;
  height: auto;
  box-shadow: 0 0 20px 0 #ccc;
  position: absolute;
  display: none;
  background: #333;
  border-radius: 6px;
  min-width: 200px;
  overflow: hidden;
}

.context-menu ul{
  list-style: none;
  padding:  2px 2px 2px 2px;
  font-size: 14px;
  }

.context-menu ul li
{
  color: #eee;
  padding: 5x 5px 5px 5px;
  margin: 10px 0px 10px 0px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}
